/*STANDARD FONTS*/

/*FONTS*/
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
	background: #1b1a1f;
}
.masonry{
	width:100%;
	margin:0 auto
}
.item:nth-child(1){
	width:17.578125%;
}.item:nth-child(2){
	width:33.28125%;
}.item:nth-child(3){
	width:29.609375%;
}.item:nth-child(4){
	width:19.53125%;
}.item:nth-child(5){
	width:35.15625%;
}.item:nth-child(6){
	width:45.15625%;
}.item:nth-child(7){
	width:33.4375%;
}.item:nth-child(8){
	width:31.25%;
}.item:nth-child(9){
	width:16.640625%;
}.item:nth-child(10){
	width:14.609375%;
}

.item a img {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	text-decoration: none;
}
.item a:hover img,.item a:active img {
	z-index: 1;
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform:scale(1.05);
	border:0;
}
/***STANDARDS,HELPERS and OVERIDES***/
.navbar{
	margin:0;
}
.navbar-default{
	background:#000;
	border-radius: 0;
	border:0;
}
.navbar-brand{
	padding:0;
}
.navbar-nav > li > a:not(.emailnav){
	font-size:22px;
}
.navbar-nav > li > a{
	line-height: 62px;
	padding:0 15px;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
	color:#fff;
   
}
.navbar-default .navbar-nav > li > a:hover{
     background-color:#323131;
    -webkit-transition: background-color 500ms ease;
    -moz-transition: background-color 500ms ease;
    -o-transition: background-color 500ms ease;
    -ms-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
}
.navbar-toggle{
	margin:14px 15px 12px 0;
}
.navbar-collapse{
	border:0;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus{
    color:#fff;
    background-color:#323131
}
.dropdown-menu{
    transform: scaleY(0);    
    transform-origin: top;
    transition: opacity 0.26s ease, transform 0.26s ease;
    display:block;
    opacity:0;
    border-radius:0;
}
li:hover >.dropdown-menu{
    transform: scaleY(1);
    opacity:1;
}
/***FOOTER***/
footer{
	height:100px;
	padding-left:30px;
}
footer p{
	font:normal 10px/100px helvetica;
	color:#919191;
	text-transform:uppercase;
}
@media only screen and (max-width: 1024px) {
    .navbar-nav > li > a:not(.emailnav){
        font-size:1em
    }
	.navbar-right > li > a{
		font-size:0.9em
	}
	.item a:hover img,.item a:active img {
		transform:none;
	}
}
@media only screen and (max-width: 768px) {
    .navbar-nav > li > a{
        border:none;
        display:block;
		line-height:30px;
    }
    .dropdown-menu{
        transform:none;
        display:none;
        opacity:1;
    }
	.item a:hover img,.item a:active img {
		transform:none;
	}
}